.register-form{
    display: flex;
    flex-direction: row;
    min-height: 100vh;
}
.right-register-container {
    width: 33%;
    min-height: 100vh;
    display: flex;
    align-items: center;
    background-color: #f5f5f7;
    /*background-image: linear-gradient(#3333ff,#9900cc);*/
    box-shadow: -20px 0px 20px rgba(0,0,0,0.3);
    min-width: 462px;
    padding-bottom: 40px;
    padding-top: 40px;
}
.left-register-container{
    width: 67%;
    min-height: 100vh;
    display: flex;
    overflow-y: auto;
    background-color: grey;
}
.choose-org{
    color: #333333;
    margin-top: 10px;
    margin-bottom: 10px;
    font-family: 'Outfit-Medium';
    font-size: 20px;
    display: flex;
    align-items: center;
}
.org-label{
    margin-left: 10px;
}
.org-check{
    width: 20px;
    height: 20px;
    box-sizing: unset;
}


@media only screen and (max-width: 960px) {
    .left-register-container{
        display: none;
    }

    .right-register-container{
        width: 100%;
        padding-bottom:100px;
        /*align-items: flex-start;*/
        min-width: 0px;
    }
    .org-check{
        width: 20px;
        height: 20px;
        box-sizing: unset;
    }
    .register-handler{
        min-width: 90%;
    }
}

.register-handler{
    padding: 0 20px;
    margin: 0 auto;
    max-width: 485px;
    display: flex;
    flex-direction: column;
    width: 70%;
}
@font-face {
    font-family: 'Lexand-Regular';
    src: url("../../fonts/Lexend-Regular.ttf");
}
.main-sign{
    font-size: 55px;
    font-weight: 700;
    color: #333333;
    text-align: center;
    line-height: 1.25;
    margin-bottom: 30px;
    margin-top: 15px;
    font-family: 'Outfit-Medium';
}
/*.icon{
    margin: 50px auto 20px;
    width: 100px;
    height: 100px;
    background: rgba(0, 0, 0, 0) url(../../multimedia/login_icon_resized.webp) no-repeat scroll 0 0;
}*/
.register-links{
    color: #333333;
}
@font-face {
    font-family: 'Lexand-Medium';
    src: url("../../fonts/Lexend-Medium.ttf");
}
.already-have-account{
    color: #999999;
    font-family: 'Lexand-Medium';
    font-size: 18px;
    margin-top: 5px;
}
.register-button{
    width: 100%;
}
.register-button-div .reset-button-div{
    text-align: right;
    /*margin: 3rem;*/
    margin-top: 0.5rem;
    margin-bottom: 5rem;
}
.error-text {
    color: #CC2929;
    font-family: 'Lexand-Medium';
    font-size: 18px;
}
.description-area{
    resize: none;
    width: 100%;
    height: 200px;
    font-size: 20px;
    border-radius: 20px;
}
.desc-div{
    margin: 0.3rem 0;
    align-items: stretch;
    flex-direction: column;
}
.desc-div label {
    flex: 1;
    color: #333333;
    margin-bottom: 0.5rem;
    margin-right: 0.5rem;
    font-family: 'Lexand-Medium';
    font-size: 20px;
}
.desc-div textarea {
    flex: 3;
    font-size: 20px;
    padding: 0.35rem 0.35rem;
    border-radius: 20px;
    border-color:transparent;
    width: 100%;
    height: 200px;
    font-family: 'Lexand-Medium';
    background: #e6e6e6;
}
.desc-div textarea:focus {
    border-color: #333333;
    background: #cccccc;
}
/*.choose-file {*/
/*    position: relative;*/
/*    height: 140px;*/
/*    width: 140px;*/
/*    font-size: 20px;*/
/*    padding: 0.35rem 0.35rem;*/
/*    border-radius: 50%;*/
/*    border-color: transparent;*/
/*    font-family: 'Lexand-Medium';*/
/*    background: #e6e6e6;*/
/*    display: flex;*/
/*    justify-content: center;*/
/*    align-items: center;*/
/*}*/
/*.choose-file-image {*/
/*    width: 100%;*/
/*    height: 100%;*/
/*    object-fit: cover;*/
/*    border-radius: 50%;*/
/*    position: relative;*/
/*}*/
/*.choose-file-label{*/
/*    display: flex;*/
/*    justify-content: center;*/
/*    align-items: center;*/
/*    width: 100%;*/
/*    height: 100%;*/
/*}*/
/*.choose-file-icon{*/
/*    display: flex;*/
/*    justify-content: center;*/
/*    align-items: center;*/
/*    font-size: 80px;*/
/*    font-family: none;*/
/*    width: 100%;*/
/*    height: 100%;*/
/*}*/

/*.choose-file input[type="file"] {*/
/*    position: absolute;*/
/*    top: 0;*/
/*    left: 0;*/
/*    opacity: 0;*/
/*    width: 100%;*/
/*    height: 100%;*/
/*    cursor: pointer;*/
/*    border-radius: 50%;*/
/*}*/
/*.choose-file:hover{*/
/*    background-color: dimgrey;*/
/*    color: white;*/
/*}*/

/*.image-preview-container {*/
/*    display: flex;*/
/*    flex-direction: row;*/
/*    flex-wrap: wrap;*/
/*    justify-content: space-evenly;*/
/*}*/

/*.image-div {*/
/*    width: 140px;*/
/*    height: 140px;*/
/*    border: 10px solid black;*/
/*    justify-content: center;*/
/*    align-items: center;*/
/*}*/
/*.img {*/
/*    width: 100%;*/
/*    height: 100%;*/
/*}*/
.upload-logo{
    color: #333333;
    margin-bottom: 10px;
    font-family: 'Lexand-Medium';
    font-size: 20px;
}
.upload-div {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

/*.upload-pictures {*/
/*    color: #333333;*/
/*    margin-bottom: 0.5rem;*/
/*    margin-right: 0.5rem;*/
/*    font-family: 'Lexand-Medium';*/
/*    font-size: 20px;*/
/*    margin-top: 30px;*/
/*}*/


.choose-file {
    position: relative;
    height: 140px;
    width: 140px;
    font-size: 20px;
    padding: 0.35rem 0.35rem;
    border-radius: 50%;
    border-color: transparent;
    font-family: 'Lexand-Medium';
    background: #e6e6e6;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background 0.3s ease;
}

.choose-file:hover {
    background-color: dimgrey;
}

.choose-file-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
    position: relative;
}

.choose-file-label {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    position: relative;
}

.choose-file-icon {
    display: flex;
    position: absolute;
    justify-content: center;
    align-items: center;
    font-size: 80px;
    width: 100%;
    height: 100%;
    z-index: 2;
    color: black;
    border-radius: 50%;
}

.choose-file:hover .choose-file-icon {
    background-color: rgba(105, 105, 105, 0.5);
    color: white;
    cursor: pointer;
}

.choose-file input[type="file"] {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    width: 100%;
    height: 100%;
    border-radius: 50%;
}












