/*@font-face {*/
/*    src: url("../../fonts/Lexend-Regular.ttf");*/
/*    font-family: "Lexand-Regular";*/
/*}*/
/*table {*/
/*    border-collapse: collapse;*/
/*    width: 100%;*/
/*    font-size: 16px;*/
/*    font-family: "Lexand-Regular";*/
/*    color: #1d1d1f;*/
/*    border-color: transparent;*/
/*    !*box-shadow:-20px 0px 20px rgba(0,0,0,0.3);*!*/
/*    !*border-radius: 30px;*!*/
/*}*/

/*th, td {*/
/*    text-align: left;*/
/*    padding: 8px;*/
/*    !*border: 1px solid #ddd;*!*/
/*}*/

/*th {*/
/*    text-align: left;*/
/*    !*border-radius: 30px;*!*/
/*    background-color: #8B749D;*/
/*}*/

/*tr:nth-child(odd) {*/
/*    background-color: #f2f2f2;*/
/*    border-radius: 30px;*/
/*}*/
/*!*.admin-button{*/
/*    color:black;*/
/*}*!*/
/*tr td:nth-last-child(-n+3) {*/
/*    text-align: center;*/
/*    width: 1vw;*/
/*}*/
/*tr td:nth-last-child(-n+1) {*/
/*    text-align: left;*/
/*    padding-left: 0px;*/
/*}*/
/*!*@media screen and (max-width: 700px) {*!*/
/*!*    table, thead, tbody, th, td, tr {*!*/
/*!*        display: block;*!*/
/*!*    }*!*/

/*!*    !* Sakrivanje zaglavlja tabele *!*!*/
/*!*    thead tr {*!*/
/*!*        position: absolute;*!*/
/*!*        top: -9999px;*!*/
/*!*        left: -9999px;*!*/
/*!*    }*!*/

/*!*    td {*!*/
/*!*        !* Postavljanje ćelija da budu kao redovi *!*!*/
/*!*        position: relative;*!*/
/*!*        padding-left: 50%;*!*/
/*!*    }*!*/

/*!*    td:before {*!*/
/*!*        !* Ubacivanje naziva kolone pre svake ćelije *!*!*/
/*!*        position: absolute;*!*/
/*!*        top: 6px;*!*/
/*!*        left: 6px;*!*/
/*!*        width: 45%;*!*/
/*!*        padding-right: 10px;*!*/
/*!*        white-space: nowrap;*!*/
/*!*    }*!*/

/*!*    !* Definicija naziva kolone za svaku ćeliju *!*!*/
/*!*    td:nth-of-type(1):before { content: "Ime"; }*!*/
/*!*    td:nth-of-type(2):before { content: "Prezime"; }*!*/
/*!*    td:nth-of-type(3):before { content: "Email"; }*!*/
/*!*    !* Dodajte više prema potrebi *!*!*/

/*!*    tr td:nth-last-child(-n+1) {*!*/
/*!*        !*align-items: center;*!*!*/
/*!*        padding-left: 26vw;*!*/
/*!*    }*!*/
/*!*    tr{*!*/
/*!*        padding:10px;*!*/
/*!*    }*!*/
/*!*    tr:nth-child(odd) {*!*/
/*!*        background-color: transparent;*!*/
/*!*    }*!*/
/*!*}*!*/
/*@media (max-width: 600px) {*/
/*    table {*/
/*        display: block;*/
/*        overflow-x: auto;*/
/*        white-space: nowrap;*/
/*    }*/

/*    th, td {*/
/*        display: table-cell;*/
/*        vertical-align: top;*/
/*        border-bottom: none;*/
/*    }*/

/*    thead, tbody, tr, th, td {*/
/*        display: block;*/
/*    }*/

/*    tr {*/
/*        border: 1px solid #ddd;*/
/*    }*/

/*    th {*/
/*        text-align: center;*/
/*        background-color: #f2f2f2;*/
/*    }*/

/*    .icons-container {*/
/*        text-align: center;*/
/*    }*/

/*    .icons-container button {*/
/*        margin: 5px;*/
/*    }*/
/*}*/









@font-face {
    src: url("../../fonts/Lexend-Regular.ttf");
    font-family: "Lexand-Regular";
}
table {
    border-collapse: collapse;
    width: 100%;
    font-size: 16px;
    font-family: "Lexand-Regular";
    color: #1d1d1f;
    border-color: transparent;
}

th, td {
    text-align: left;
    padding: 8px;
}

th {
    text-align: left;
    background-color: #8B749D;
}

tr:nth-child(odd) {
    background-color: #f2f2f2;
    border-radius: 30px;
}

tr td:nth-last-child(-n+3) {
    text-align: center;
    width: 1vw;
}
tr td:nth-last-child(-n+1) {
    text-align: left;
    padding-left: 0px;
}
.tableContainer{
    padding-left: 40px;
    padding-right: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media (max-width: 600px) {
    table, thead, tbody, th, td, tr {
        display: block;
    }
    thead tr {
        position: absolute;
        top: -9999px;
        left: -9999px;
    }
    tr{
        margin-bottom:10px;
        border: 1px solid #ddd;
        border-radius: 30px;
    }
    td {
        border: none;
        position: relative;
        padding-left: 50%;
        /* Text overflow properties added */
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
    td:before {
        position: absolute;
        top: 6px;
        left: 6px;
        width: 45%;
        padding-right: 10px;
        white-space: nowrap;
    }
    td:nth-of-type(1):before { content: "Ime: "; }
    td:nth-of-type(2):before { content: "Prezime: "; }
    td:nth-of-type(3):before { content: "Email: "; }
    tr td:nth-last-child(-n+3) {
        display: inline-block;
        text-align: center;
        width: 33.33%;
        padding-left: 0px;
    }
}






