@font-face {
    src: url("../../fonts/Lexend-Regular.ttf");
    font-family: "Lexand-Regular";
}
table {
    border-collapse: collapse;
    width: 100%;
    font-size: 16px;
    font-family: "Lexand-Regular";
    color: #1d1d1f;
    border-color: transparent;
    /*box-shadow:-20px 0px 20px rgba(0,0,0,0.3);*/
    /*border-radius: 30px;*/
}

th, td {
    text-align: left;
    padding: 8px;
    /*border: 1px solid #ddd;*/
}

th {
    text-align: left;
    /*border-radius: 30px;*/
    background-color: #8B749D;
}

tr:nth-child(odd) {
    background-color: #f2f2f2;
    border-radius: 30px;
}
/*.admin-button{
    color:black;
}*/
tr td:nth-last-child(-n+3) {
    text-align: center;
    width: 1vw;
}
tr td:nth-last-child(-n+1) {
    text-align: left;
    padding-left: 0px;
}
@media screen and (max-width: 700px) {
    table, thead, tbody, th, td, tr {
        display: block;
    }

    /* Sakrivanje zaglavlja tabele */
    thead tr {
        position: absolute;
        top: -9999px;
        left: -9999px;
    }

    td {
        /* Postavljanje ćelija da budu kao redovi */
        position: relative;
        padding-left: 50%;
    }

    td:before {
        /* Ubacivanje naziva kolone pre svake ćelije */
        position: absolute;
        top: 6px;
        left: 6px;
        width: 45%;
        padding-right: 10px;
        white-space: nowrap;
    }

    /* Definicija naziva kolone za svaku ćeliju */
    td:nth-of-type(1):before { content: "Ime"; }
    td:nth-of-type(2):before { content: "Prezime"; }
    td:nth-of-type(3):before { content: "Email"; }
    /* Dodajte više prema potrebi */

    tr td:nth-last-child(-n+1) {
        /*align-items: center;*/
        padding-left: 26vw;
    }
    tr{
        padding:10px;
    }
    tr:nth-child(odd) {
        background-color: transparent;
    }
}








