
@font-face {
    src: url("../../fonts/Lexend-Regular.ttf");
    font-family: "Lexand-Regular";
}

table {
    border-collapse: collapse;
    width: 100%;
    font-size: 16px;
    font-family: "Lexand-Regular";
    color: #1d1d1f;
    border-color: transparent;
    margin-bottom: 20px;
}

th, td {
    text-align: left;
    padding: 8px;

    white-space: nowrap;  /* Added */
    overflow: hidden;    /* Added */
    text-overflow: ellipsis;  /* Added */
}

th {
    text-align: left;
    background-color: #8B749D;
}

tr:nth-child(odd) {
    background-color: #f2f2f2;
    border-radius: 30px;
}

tr td:nth-last-child(-n+3) {
    text-align: center;
    width: 1vw;
}

tr td:nth-last-child(-n+1) {
    text-align: left;
    padding-left: 0px;
}
.addItemDiv{
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.addAnItem {
    padding: 8px 20px;
    border-radius: 4px;
    outline: none;
    border: none;
    font-size: 20px;
    color: #fff;
    cursor: pointer;
    background-color: #4f25e5;
    /*margin-left: 20px;*/
    /*margin-right: 20px;*/
    white-space: nowrap;
    font-family: "Lexand-Medium";
}

.addAnItem:hover {
    padding: 6px 18px;
    /*transition: all 0.3s ease-out;*/
    /*background-color: transparent;*/
    color: #fff;
    border-radius: 4px;
    border: 2px solid #3333ff;
    background-color: #401da2;
    /*transition: all 0.3s ease-out;*/
}
@media (max-width: 600px) {
    
    .addItemDiv{
        justify-content: center;
        margin-bottom: 20px;
    }
    
    table, thead, tbody, th, td, tr {
        display: block;
    }

    thead tr {
        position: absolute;
        top: -9999px;
        left: -9999px;
    }

    tr {
        margin-bottom:10px;
        border: 1px solid #ddd;
        border-radius: 30px;
        padding:8px;
    }

    td {
        border: none;
        position: relative;
        padding-left: 50%;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    td:before {
        position: absolute;
        top: 6px;
        left: 6px;
        width: 45%;
        padding-right: 10px;
        white-space: nowrap;
    }

    /* Labels for user table */
    /*td:nth-of-type(1):before { content: "Ime: "; }*/
    /*td:nth-of-type(2):before { content: "Prezime: "; }*/
    /*td:nth-of-type(3):before { content: "Email: "; }*/
    .usersTable td:nth-of-type(1):before { content: "Ime: "; }
    .usersTable td:nth-of-type(2):before { content: "Prezime: "; }
    .usersTable td:nth-of-type(3):before { content: "Email: "; }

    /* Label for categories table */
    /*td:nth-of-type(1):before { content: "Name: "; }*/
    .onlyNameTable td:nth-of-type(1):before { content: "Name: "; }
    
    tr td:nth-last-child(-n+3) {
        display: inline-block;
        text-align: center;
        width: 33.33%;
        padding-left: 0px;
    }
}







