
.custom-dialog-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.3);
    z-index: 999;
}

.custom-dialog-box {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1000;
    background-color: white;
    padding: 16px;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.3);
    /*position: relative;*/
}

.custom-dialog-box p {
    margin: 0 0 16px;
}

.custom-dialog-box .buttons {
    display: flex;
    justify-content: flex-end;
}

.custom-dialog-box button {
    margin-left: 16px;
}
.error-text {
    color: #CC2929;
    font-family: 'Lexand-Medium';
    font-size: 18px;
}



