.countdown {
    background-color: #e7e7e7;
    /*border: 2px solid black;*/
    width:100%;
    padding: 20px;
    /*margin: 70px 30px 0px;*/
    text-align: center;
    border-radius: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.countdown div {
    display: inline-block;
    margin: 0 10px;
}

.countdown div span {
    display: block;
    font-size: 3em;
    font-family: Lexand-Bold;
    color: #4f388c;
}

.countdown div span.label {
    font-size: 0.9em;
    font-weight: normal;
    font-family: Lexand-Regular;
    color:#1d1d1f;
}

@media screen and (max-width: 600px) {
    .countdown {
        flex-direction: row;
        text-align: unset;
        margin: 10px;
    }
}
