.listItem-wrap img {
    width: 100%;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    height: 200px;
    object-fit: cover;
    transition: transform 0.3s ease;
    cursor: pointer;
}
.listItem-wrap h4 {
    /*text-transform: uppercase;*/
    font-family: 'Lexend-Regular';
    font-size: larger;
    cursor: pointer;
    font-family: 'Lexend-Medium';
}
@font-face {
    font-family: 'Lexend-Medium';
    src: url("../../fonts/Lexend-Medium.ttf");
}
/*.listItem-wrap h4:hover{
    
    transform: scale(1.1);
}*/
.listItem-wrap header {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 20px 25px 0px 34px;
    align-items:revert;
    font-size: 25px;
    /*background-color: #89729b;*/
    border-radius: 30px;
    
}

.listItem-wrap header span {
    font-size: 0.7rem;
    background-color: #97ffff;
    padding: 0.5rem;
    border-radius: 10px;
}
.listItem-wrap footer {
    font-size: 0.8rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}
.listItem-wrap footer p:first-child span {
    color: rgba(0, 0, 0, 0.26);
    font-weight: 600;
}
.listItem-wrap{
    background-color: #f5f5f7;
    border-radius: 30px;
    font-size: larger;
    height: 355px;
    transition: transform 0.3s ease;
    cursor: pointer;
    position: relative;
}
.favoriteIcon {
    position: absolute;
    top: 290px;
    right: 25px;
    font-size: 35px;
    color: #5A5A5A;
    cursor: pointer;
    /*display: flex;
    /*justify-content: center;
    align-items: center;*/
    
}
.favoriteIcon:hover{
    transform: scale(1.1);
}
.favorite {
    color: #6242a9;
    position: absolute;
    top: 290px;
    right: 25px;
}
.sponsoredIcon {
    position: absolute;
    top: 5px;
    left: 20px;
    font-size: 35px;
    color:#e6e6e6;
}
.sponsoredIcon:hover{
    transform: scale(1.1);
}
.sponsoredInfo {
    position: absolute;
    top: 55px;
    left: -8px;
    background-color: #f5f5f7;
    color: black;
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 12px;
    font-weight: bold;
    width: 100px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
}

.favoritesInfo {
    position: absolute;
    top: 55px;
    left: -40px;
    background-color: #f5f5f7;
    color: black;
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 12px;
    font-weight: bold;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
}
.listItem-wrap:hover {
    transform: scale(1.05);
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.3);
}
.listItem-description{
    font-size: smaller;
}
.footer {
    display: flex;
    align-items: center;
    margin-left: 25px;
}
.footer-left{
    margin-right: 8px;
}
.footer-left,
.footer-right {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 0.5rem;
}
.footer-data {
    /*background-color: #89729b;*/
    font-family: "Lexand-Medium";
    font-size: 17px;
    color: #5A5A5A;
    margin: 5px 10px 0px;
}
.footer-left div ,.footer-right div{
     display: flex;
     align-items: center;
    white-space: nowrap;
 }

.footer-left i ,.footer-right i{
    margin-right: 5px;
    font-weight: bold;
}

.footer-left span ,.footer-right span{
    font-weight: bold;
    font-size: larger;
}
.footer-calendar{
    height: 83px;
    width: 83px;
    background-color: #F7F7F5;
    border-radius: 20px;
    position: absolute;
    bottom: 125px;
    /*left: 255px;*/
    right: 30px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
@font-face{
    font-family: "Lexand-Bold";
    src:url("../../fonts/Lexend-Bold.ttf");
}
.calendar-day{
    font-size: 30px;
    font-family: "Lexand-Bold";
    color: #6242a9;
}
.calendar-month{
    font-size: 20px;
    font-family: "Lexand-Medium";

}
