.fa-calendar-days,.fa-map-marked-alt,.fa-ticket,.fa-users ,.fa-location-dot{
    font-size: 22px; /* Promijenite veličinu ikonice prema potrebi */
}
.fa-calendar-days{
    color: #3333ff ;
}
.fa-map-marked-alt{
    color: red;
}
.fa-ticket{
    color: rgb(18, 176, 2);
}
.fa-users{
    color: black;
}
.fa-location-dot{
    color: red;
}
