.loaderHandler{
    justify-content: center;
    align-items: center;
    display: flex;
}
.loader{
    border: 16px solid #f3f3f3; /* Light grey */
    border-top: 16px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
.image {
    max-width: 100%;
    width: 37vw;
    height: auto;
    object-fit: cover;
    border-radius: 10px;
    margin-top: -270px;
}
.container {
     display: flex;
     flex-direction: column;
     align-items: center;
     margin: 320px 200px 30px 200px;
    border-radius: 15px;
    background-color: #89729b;
    padding-left: 200px;
    padding-right: 200px;
    padding-bottom: 30px;
 }
.header{
    margin-top: 20px;
    text-align: center;
    
}
.title{
    font-family: Source Sans Pro;
    font-size: 50px;
    margin-bottom: 5px;
}
.date,.location,.exactLocation,.category,.org,.guest,.comp,.capacity,.sponsorPresent,.accPartners,.tranPartners{
    margin-bottom: 10px;
    display: flex;
    flex-direction: row;
    margin-top: 10px;

}
.tranPartners i{
    margin-right: 20px;
    font-size: 40px;
    color: white;
}
.accPartners i{
    margin-right: 20px;
    font-size: 40px;
    color: white;
}
.sponsorPresent i{
    margin-right: 20px;
    font-size: 40px;
    color: white;
}
.date i {
    margin-right: 20px;
    font-size: 40px;
    color: white;
}
.location i{
    margin-right: 25px;
    font-size: 40px;
    color: white;
}
.exactLocation i{
    margin-right: 20px;
    font-size: 30px;
    color: white;
}
.category i{
    margin-right: 28px;
    font-size: 30px;
    color: white;
}
.org i{
    margin-right: 26px;
    font-size: 30px;
    color: white;
}
.guest i{
    margin-right: 20px;
    font-size: 30px;
    color: white;
}
.comp i{
    margin-right: 20px;
    font-size: 30px;
    color: white;
}
.capacity i{
    margin-right: 20px;
    font-size: 30px;
    color: white;
}
.guestList,.compList,.sponsorList{
    display: flex;
    flex-wrap: wrap;
}

.dateTitle,.locationTitle,.exactLocationTitle,.categoryTitle,.orgTitle,.guestTitle{
    
}
.description,.ticket,.details,.sponsor,.partners{
    border-radius: 15px;
    background-color: #89729b;
    padding: 30px 150px 30px 150px;
    margin: 30px 200px 30px 200px;
}
.detailsWrapper,.partnersWrapper{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
/*.leftDetails{
    margin-right: 70px;
}*/

.descriptionTitle{
    font-family: Source Sans Pro;
    font-size: 24px;
    margin-bottom: 5px;
}

.description p{
    text-align: start;
}
.guesCompWrapper{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.guest{
    margin-right: 30px;
}
.ticketLook{
    border: solid black 1px;
    background-color: darkorchid;
    border-radius: 15px;
    padding: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}


.mapDisplay{
    
}