.read-more {
    position: relative;
    overflow: hidden;
}

.text {
    position: relative;
    z-index: 1;
    font-family: "Lexend-Regular";
    font-size: 20px;
    color: #696868;
}

.toggle-button {
    display: block;
    margin: 0 auto;

    background-color: #ababab;
    color:white;/* Boja pozadine dugmeta */
    border: none;
    padding: 10px 20px;
    opacity: 0.5; /* Prozirnost dugmeta */
    transition: opacity 0.3s ease-in-out;

    cursor: pointer;
    font-family: Lexand-Regular;
    font-size: 16px;
    border-radius: 20px;
    margin-top:10px;
}

.toggle-button:hover {
    opacity: 1;
}
