.login-form {
    display: flex;
    flex-wrap: wrap;
    min-height: 100vh;
}

.right-login-container {
    width: 28%;
    min-height: 100vh;
    display: flex;
    align-items: center;
    background-image: linear-gradient(#3333ff,#9900cc);
    box-shadow: -20px 0px 20px rgba(0,0,0,0.3);
}

.left-login-container {
    width: 72%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    overflow-y: auto;
    background-size: cover ;
    background-image: url("../../multimedia/background-white.jpg");
}

@media only screen and (max-width: 960px) {
    .left-login-container {
        display: none;
    }

    .right-login-container {
        width: 100%;
    }
}

.login-handler {
    padding: 0 50px;
    margin: 0 auto;
    max-width: 485px;
    display: flex;
    flex-direction: column;
}

.login-handler h1 {
    font-size: 30px;
    font-weight: 700;
    color: #FDFFD6;
    text-align: center;
    line-height: 1.25;
    margin-bottom: 15px;
    margin-top: 15px;
}

.login-handler .icon {
    margin: 50px auto 20px;
    width: 100px;
    height: 100px;
    background: rgba(0, 0, 0, 0) url(../../multimedia/login_icon_resized.webp) no-repeat scroll 0 0;
}
.login-handler .login-links{
    color: #E9EAD7;
}

.dont-have-account{
    color: #AAAAAA;
}

.login-button {
    width: 100%;
}

.form-actions {
    text-align: right;
    margin-top: 0.5rem;
    margin-bottom: 5rem;
}

.error-text {
    color: #ff8080;
}


