.div-container{
    display: flex;
    justify-content: center;
    margin-top: 50px;
    margin-bottom: 50px;
}
.forma-event{
    background-color: #8B749D;
    width: 80%;
    display: flex;
    flex-direction: row-reverse;
    height: 800px;
}
.left-side-form{
    width: 35%;
}
.right-side-form{
    width: 65%;
    overflow-y: scroll;
    padding:40px;
}
.two-in-row{
    display: flex;
}
.adding-inputs{
    display: flex;
}