.fa-search{
    position: absolute;
    top: 12px;
    left: 9px;
    width: 14px;
    
}
.main-wrapper {
    background-color: #fff;
    padding: 20px;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
@font-face {
    font-family: "Lexand-Medium";
    src: url("../../fonts/Lexend-Medium.ttf");
}
@font-face {
    font-family: "Lexand-Regular";
    src: url("../../fonts/Lexend-Regular.ttf");
}
input{
    font-family: 'Lexand-Medium';
    font-size: 21px;
}
span, select{
    font-family: "Lexand-Regular";
}
