.button {
    font-family: 'Outfit-Medium';
    font-size: 22px;
    border: 1px solid #240370;
    background-color: #240370;
    color: white;
    padding: 0.5rem 1.5rem;
    border-radius: 18px;
    cursor: pointer;
    margin-top: 40px;
    margin-bottom: 10px;
}

.button:hover,
.button:active {
    background-color: #33059e;
    border-color: #33059e;
}

.button:focus {
    outline: none;
}

.button:disabled,
.button:disabled:hover,
.button:disabled:active {
    background-color: #ccc;
    color: grey;
    border-color: #cccccc;
    cursor: not-allowed;
}